<h1>Biografia</h1>

<div class="d-flex flex-row-reverse">
  <%= link_to "Editar", edit_bio_path(@bio), class: "btn btn-secondary"%>
</div>

<p>
  <strong>Resume</strong><br />
  <%= @bio.resume %>
</p>

<p>
  <strong>Biografia<strong><br />
  <%= @bio.bio %>
</p>

<p>
  <strong>Imagem<strong><br />
  <% if @bio.image.attached? %>
    <%= image_tag @bio.image.variant(resize: "500x500") %>
  <% end %>
</p>

