<div class="container" id="about-us">

  <div class="row">
    
    <div class="col-md-6">
      <%= image_tag '2.png',  class: "d-block", width: '500px'%>
    </div>

    <div class="col-md-6">
      <div class="text-area">
        <h2 class="text-dark">A Escola da Família</h2>
        <article class="text-secondary">
          <p>
          We offers full-day and half-day music camps for kids of all ages and 
          skill levels – including beginners!
          Summer camps give students an opportunity to focus on one instrument or 
          genre for a whole week.
          </p>
          <p>          
          We offers full-day and half-day music camps for kids of all ages and 
          skill levels – including beginners!
          Summer camps give students an opportunity to focus on one instrument or 
          genre for a whole week.
          </p>
        </article>
      </div>

      <div class="row justify-content-center btn-matricule-se">
        <div class="col-md-8" style="margin-top: 30px">
          <button class="btn btn-danger btn-block"> Matrícule-se </button>
        </div>
      </div>

    </div>

  </div>

</div>