<div class="container" id="about-us">

  <div class="row">
    
    <div class="col-md-6">
      <%= image_tag @bio.image.variant(resize: "500x500"),  class: "d-block"%>
    </div>

    <div class="col-md-6">
      <div class="text-area">
        <h2 class="text-dark">A Escola da Família</h2>
        <article class="text-secondary">
          <p>
            <%= @bio.resume %>
          </p>
        </article>
      </div>

      <div class="row justify-content-center btn-matricule-se">
        <div class="col-md-8" style="margin-top: 30px">
          <button class="btn btn-danger btn-block"> Matrícule-se </button>
        </div>
      </div>

    </div>

  </div>

</div>