<div id="contato">

  <div class="container d-flex justify-content-around">
        
    <div id="endereco" class="contato-item">
      <p> <h4 class="text-white">Endereço</h4> </p>
      <div class="d-flex justify-content-around">
        <div class="contato-img">
          <%= image_tag ('address.png'), width: '50px'%>
        </div>
        <div class="contato-text">
          110 E 16th St
          New York, NY
        </div>
      </div>
    </div>

    <div id="telefone" class="contato-item">
      <p> <h4 class="text-white">Contato</h4> </p>
      <div class="d-flex justify-content-around">
        <div class="contato-img">
          <%= image_tag ('contact.png'), width: '50px', class: 'img-contato'%>
        </div>
        <div class="contato-text">
         (66) 9 9211 - 2132 / 9211 - 2132 <br />
          E-mail: escola@elitemusica.com <br />
        </div>
      </div>
    </div>

    <div id="atendimento" class="contato-item">
      <p><h4 class="text-white">Atendimento</h4></p>
      <div class="d-flex justify-content-around">
        <div class="contato-img">
          <%= image_tag ('clock.png'), width: '50px'%>
        </div>
        <div class="contato-text">
          Monday - Friday: 12pm - 8pm <br />
          Saturday: 10am - 2pm
        </div>
      </div>
    </div>

    <div id="social" class="contato-item">
        <p><h4 class="text-white">Mídias Sociais</h4></p>
        <div class="contato-img">
        </div>
        <div class="contato-text ">
          110 E 16th St
          New York, NY
        </div>
    </div>
  
  </div>
</div>