<div id="turmas">
  
  <div class="container">

    <center>
      <h2 class="text-white">Temos Turmas</h2>
      <h4 class="text-muted">para</h4>
    </center>

    <div class="row" style="margin-top: 70px">
      
      <%= @publics.each do |publico| %>
        <div class="col-md-3">
          
          <div class="card card-turmas" style="width: 12rem">
            <center> 
              <%= image_tag publico.image, class: "card-img-top rounded-circle", width: "50px" %>
              <p>
                <h4 class="text-white"><%= publico.title %></h4> 
              </p>
              <div class="card-body">
                <p class="text-secondary">
                  <%= publico.resume %>
                </p>
              </div>
            </center>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>