<div id="turmas">
  
  <div class="container">

    <center>
      <h2 class="text-white">Temos Turmas</h2>
      <h4 class="text-muted">para</h4>
    </center>

    <div class="row" style="margin-top: 70px">
      
      <div class="col-md-3">
        
        <div class="card card-turmas" style="width: 12rem">
          <center> 
            <%= image_tag '11.jpg' , class: "card-img-top rounded-circle", width: '50px' %>
            <p>
              <h4 class="text-white">Baby Class</h4> 
            </p>
            <div class="card-body">
              <p class="text-secondary">
              Some quick example text to build on the card 
              title and make up the bulk of the card's content.
              </p>
            </div>
          </center>
        </div>

      </div>

      <div class="col-md-3">

        <div class="card card-turmas" style="width: 12rem;">
          <center> 
            <%= image_tag '8.jpg' , class: "card-img-top rounded-circle", width: '50px' %>
            <p>
              <h4 class="text-white">Kids</h4> 
            </p>
            <div class="card-body">
              <p class="text-secondary">
                Some quick example text to build on the card title
               and make up the bulk of the card's content.
               </p>
            </div>
          </center>
        </div>

      </div>

      <div class="col-md-3">

        <div class="card card-turmas" style="width: 12rem;">
          <center> 
            <%= image_tag '12.jpg' , class: "card-img-top rounded-circle", width: '50px' %>
            <p>
              <h4 class="text-white">Adolescentes</h4> 
            </p>
            <div class="card-body">
              <p class="text-secondary">
                Some quick example text to build on the card title and make up 
                the bulk of the card's content.
              </p>
            </div>
          </center>
        </div>

      </div>

      <div class="col-md-3">

        <div class="card card-turmas" style="width: 12rem;">
          <center> 
            <%= image_tag '16.jpg' , class: "card-img-top rounded-circle", width: '50px' %>
            <p>
              <h4 class="text-white">Adultos</h4> 
            </p>
            <div class="card-body">
              <p class="text-secondary">
              Some quick example text to build on the card title 
              and make up the bulk of the card's content.
              </p>
            </div>
          </center>
        </div>

      </div>

    </div>

  </div>
</div>