<div id="videos">
  
  <div class="container">

    <center>
      <h2 class="text-dark"> <%= @video.title%> </h2>
      <h4 class="text-muted">video</h4>
    </center>

    <div class="row justify-content-center">

      <p style="margin-top: 50px">
        <iframe width="700" height="300" frameborder="0" 
        src="<%= @video.link%>" >
        </iframe>
      </p>
    </div>

  </div>

</div>