<div id="videos">
  
  <div class="container">

    <center>
      <h2 class="text-dark">Apresentação do coral da Escola </h2>
      <h4 class="text-muted">video</h4>
    </center>

    <div class="row justify-content-center">

      <p style="margin-top: 50px">
      <video width="700" height="300" controls>
        <source src="https://www.youtube.com/watch?v=aGOFOrbh3aI" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>

  </div>

</div>