@import 'colors';

#contato {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $secondary-color;
}

.contato-text {
  margin: 5px;
  color: #fafafa;
}

.img-contato {
  color: white;
}

.contato-item {
  padding: 10px;
}