// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#teachers {
  padding-top: 70px;
  padding-bottom: 40px;
}

.img-teachers {
  border-radius: 50%;
  width: 50%;
}

.card-teachers{
  border: none !important;
}

.contato-img {
  margin: 0 auto;
}