@import 'colors';

#turmas {
  padding: 80px;
  background-color:#242424;
}

.rounded-circle {
  border-radius: 100px !important;
}

.card-turmas {
  border: none !important;
  background-color: #242424;
}