<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag '10.jpg', class: "d-block w-100 carousel-img" %>
      <div class="carousel-caption">
        <h2 class="animated h2-animated fadeInDown">Elite Música</h2>
        <div class="animated p-animated fadeInUp">A Escola da Família para toda Família</div>
        <button class="btn btn-danger header-btn animated p-animated fadeInUp"> Matrícule-se </button>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag '15.jpg', class: "d-block w-100 carousel-img" %>
      <div class="carousel-caption">
        <h2 class="animated h2-animated fadeInLeftBig">Viva melhor com a Música</h2>
        <p class="animated p-animated fadeInRightBig">Temos turmas para todas idades</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag '14.jpg', class: "d-block w-100 carousel-img" %>
      <div class="carousel-caption">
        <h2 class="animated h2-animated flipInY">Qual som representa sua vida?</h2>
        <p class="animated p-animated flipInY">Estamos empenhados a descobrir junto como você</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>