<footer>
	<div class="container">
		<div class="d-flex justify-content-around">
				<%= link_to image_tag('logo.png'), root_path, class: "navbar-brand" %>
        <p class="text-white copy-right">Elite Música © 2019. All rights reserved Terms of Use and Privacy Policy</p>
        <p class="text-white copy-right">Developed by Avitry Systems</p>
    </div>
	</div>
</footer>